@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@100;200;300;400;500;600;700&display=swap');

:root{
    --green:#16a085;
    --black: black;
    --light-color:black;
    
    --border:.2rem solid var(--green);
}

*{
    font-family: 'Poppins', sans-serif;
    margin:0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-transform: capitalize;
    transition: all .2s ease-out;
    text-decoration: none;
}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-padding-top: 10rem;
    scroll-behavior: smooth;
}

section{
    width: 100%;
    height: auto;
    
}

section:nth-child(even){
    background: #fff;
}

.heading{
    text-align: center;
    padding-bottom: 2rem;
    text-shadow: var(--text-shadow);
    text-transform: uppercase;
    color:var(--black);
    font-size: 5rem;
    letter-spacing: .4rem;
}

.heading span{
    text-transform: uppercase;
    color:var(--green);
}

.btn{
    display: inline-block;
    margin-top: 1rem;
    padding: .5rem;
    padding-left: 1rem;
    border:var(--border);
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    color:var(--green);
    cursor: pointer;
    font-size: 1.7rem;
    background: #fff;
}

.btn span{
    padding:.7rem 1rem;
    border-radius: .5rem;
    background: var(--green);
    color:#fff;
    margin-left: .5rem;
}

.btn:hover{
    background: var(--green);
    color:#fff;
}

.btn:hover span{
    color: var(--green);
    background:#fff;
    margin-left: 1rem;
}

.header{
    width: 100%;
    padding:2rem 9%;
    position: fixed;
    top:0; left: 0; right: 0;
    z-index: 1000;
    
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: #fff;
    margin: auto;
}



.header .img{
  font-size: 2.5rem;
  color: var(--black);
}

.header .img img{
  height: 45px;
  float: left;
  margin-left: 20px;
}






.header .navbar a{
    font-size: 1.7rem;
    color: var(--light-color);
    margin-left: 2rem;
}

.header .navbar a:hover{
    color: var(--green);
}

#menu-btn{
    font-size: 2.5rem;
    border-radius: .5rem;
    
    color:var(--green);
    padding: 1rem 1.5rem;
    cursor: pointer;
    display: none;
}

.home{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
   
    width: 100%;
    margin-top: 80px;
    
}

.home .slider{
    position: relative;
    width: 100%;
    height: 550px;
    overflow: hidden;
   
    
  }
.myForm {
  color: rgb(248, 248, 248);
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 1.2em;
width: 100%;
padding: 1em;
border: 1px solid #ccc;
}

.myForm * {
box-sizing: border-box;
}

.myForm fieldset {
border: none;
padding: 0;
}

.myForm legend,
.myForm label {
padding: 0;
font-weight: bold;
}

.myForm label.choice {
font-size: 0.9em;
font-weight: normal;
}

.myForm label {
text-align: center;
display: block;
}

.myForm input[type="text"],
.myForm input[type="tel"],
.myForm input[type="email"],
.myForm input[type="datetime-local"],
.myForm select,
.myForm textarea {
float: right;
width: 60%;
border: 1px solid #ccc;
font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
font-size: 0.9em;
padding: 0.3em;
}

.myForm textarea {
height: 100px;
}

.myForm input[type="radio"],
.myForm input[type="checkbox"] {
margin-left: 40%;
}

.myForm button {
padding: 1em;
border-radius: 0.5em;
background: #eee;
border: none;
font-weight: bold;
margin-left: 40%;
margin-top: 1.8em;
}

.myForm button:hover {
background: #ccc;
cursor: pointer;
}
  
  .home .slider .slide{
    position: absolute;
    width: 100%;
    height: 100%;
    clip-path: circle(0% at 0 50%);
  }
  
  .home .slider .slide.active{
    clip-path: circle(150% at 0 50%);
    transition: 2s;
  }
  
  .slider .slide img{
    position: absolute;
    width: 100%;
    height: 100%;
    object-fit: fill;
  }
  
  
  .navigation{
    height: 900px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    opacity: 0;
    transition: opacity 0.5s ease;
  }
  
  .slider:hover .navigation{
    opacity: 1;
  }
  
  .prev-btn, .next-btn{
    z-index: 999;
    font-size: 4em;
    color: #222;
    background: rgba(255, 255, 255, 0.8);
    padding: 10px;
    cursor: pointer;
  }
  
  .prev-btn{
    border-top-right-radius: 3px;
    border-bottom-right-radius: 3px;
  }
  
  .next-btn{
    border-top-left-radius: 3px;
    border-bottom-left-radius: 3px;
  }
  
  .services{
    width: 80%;
    margin: auto;
    margin-top: 100px;


  }

.services .box-container{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
    gap:4rem;
    margin-top: 50px;
}


.services .box-container .box{
    background:#fff;
    border-radius: .5rem;
    box-shadow: var(--box-shadow);
    border:var(--border);
    padding: 2.5rem;
}

.services .box-container .box i{
    color: var(--green);
    font-size: 5rem;
    padding-bottom: .5rem;
}

.services .box-container .box h3{
    color: var(--black);
    font-size: 2.5rem;
    padding:1rem 0;
}

.services .box-container .box p{
    color: var(--light-color);
    font-size: 1.4rem;
    line-height: 2;
}

.about {
    width: 80%;
    margin: auto;
    margin-top: 100px;


  }


.about .row{
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    gap:4rem;
    color: rgb(252, 250, 250);
}

.about .row .image{
    flex:1 1 45rem;
}

.about .row .image img{
    width: 100%;
}

.about .row .content{
    flex:1 1 45rem;
    color: rgb(7, 7, 7);
}

.about .row .content h3{
    color:white;
    text-shadow: white;
    font-size: 4rem;
    line-height: 1.8;
}

.about .row .content p{
  color: rgb(252, 247, 247);
    padding:1rem 0;
    font-size: 1.5rem;
    line-height: 1.8;
}
.aboutlesft {
  width: 100%;
  margin: auto;
  color: #000;
  margin-top: 100px;


}


.aboutlesft .row{
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  gap:4rem;
  color: rgb(12, 12, 12);
}

.aboutlesft .row .image{
  flex:1 1 45rem;
}

.aboutlesft .row .image img{
  width: 100%;
}

.aboutlesft .row .content{
  flex:1 1 45rem;
  color: rgb(10, 10, 10);
}

.aboutlesft .row .content h3{
  color:rgb(8, 8, 8);
  text-shadow: white;
  font-size: 4rem;
  line-height: 1.8;
}

.aboutlesft .row .content p{
color: rgb(12, 12, 12);
  padding:1rem 0;
  font-size: 1.5rem;
  line-height: 1.8;
}


.abouts {
  width: 80%;

  margin: auto;
  margin-top: 100px;


}


.abouts .row{
  display:grid;
 
  align-items: center;
  flex-wrap: wrap;
  gap:4rem;
}

.abouts .row .image{
  flex:1 45rem;
 
}

.abouts .row .image img{
  width: 50%;
}

.abouts .row .content{
  color: #000;
  flex:1 1 45rem;
}

.abouts .row .content h3{
  color: var(--black);
  text-shadow: var(--text-shadow);
  font-size: 4rem;
  line-height: 1.8;
}

.abouts .row .content p{
  color: #000;  padding:1rem 0;
  font-size: 1.5rem;
  line-height: 1.8;
}

.contact {
    width: 80%;
    margin: auto;
    margin-top: 100px;


  }


.container_2{
    width: 100%;
    background: #fff;
   
    padding: 20px 60px 30px 40px;
    
  }
  .container_2 .content{
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  .container_2 .content .left-side{
    width: 25%;
    height: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-top: 15px;
    position: relative;
  }
  .content .left-side::before{
    content: '';
    position: absolute;
    height: 70%;
    width: 2px;
    right: -15px;
    top: 50%;
    transform: translateY(-50%);
    background: #fff;
  }
  .content .left-side .details{
    margin: 14px;
    text-align: center;
  }
  .content .left-side .details i{
    font-size: 30px;
    color: #16a085;
    margin-bottom: 10px;
  }
  .content .left-side .details .topic{
    font-size: 18px;
    font-weight: 500;
  }
  .content .left-side .details .text-one,
  .content .left-side .details .text-two{
    font-size: 14px;
    color: rgb(250, 244, 244);
  }
  
  
  .container_2 .content .right-side{
    width: 75%;
    margin-left: 75px;
  }
  .content .right-side .topic-text{
    font-size: 23px;
    font-weight: 600;
    color: #16a085;
  }
  .right-side .input-box{
    height: 50px;
    width: 100%;
    margin: 12px 0;
	border:5px;
	border-color:black;
  }
  .right-side .input-box input,
  .right-side .input-box textarea{
    height: 100%;
    width: 100%;
    border: 5px;
    outline: none;
    font-size: 16px;
    background: #fff;
    border-radius: 6px;
    padding: 0 15px;
    resize: none;
  }
  .right-side .message-box{
    min-height: 110px;
  }
  .right-side .input-box textarea{
    padding-top: 6px;
  }
  .right-side .button{
    display: inline-block;
    margin-top: 12px;
  }
  .right-side .button input[type="button"]{
    color: #fff;
    font-size: 18px;
    outline: none;
    border: none;
    padding: 8px 16px;
    border-radius: 6px;
    background: #16a085;
    cursor: pointer;
    transition: all 0.3s ease;
  }
  .button input[type="button"]:hover{
    background: #16a085;
  }
  




.footer {
    width: 80%;
    margin: auto;
    color:black;
    margin-top: 100px;


  }

.footer .box-container{
    display: grid;
    color:black;
    grid-template-columns: repeat(auto-fit, minmax(22rem, 1fr));
    gap:4rem;
}

.footer .box-container .box h3{
    font-size: 2.5rem;
    color:rgb(252, 247, 247);
    padding: 1rem 0;
}

.footer .box-container .box a{
    display: block;
    font-size: 1.5rem;
    color:rgb(252, 247, 247);;
    padding: 1rem 0;
}

.footer .box-container .box a i{
    padding-right: .5rem;
    color:var(--green);
}

.footer .box-container .box a:hover i{
    padding-right:2rem;
}




/* media queries  */
@media (max-width:991px){

    html{
        font-size: 55%;
    }

    .header{
        padding: 2rem;
    }

    section{
        padding:2rem;
    }

}

@media (max-width:768px){

    #menu-btn{
        display: initial;
    }

    .header .navbar{
        position: absolute;
        top:115%; right: 2rem;
        border-radius: .5rem;
        box-shadow: var(--box-shadow);
        width: 30rem;
        border: var(--border);
        background: #fff;
        transform: scale(0);
        opacity: 0;
        transform-origin: top right;
        transition: none;
    }

    .header .navbar.active{
        transform: scale(1);
        opacity: 1;
        transition: .2s ease-out;
    }

    .header .navbar a{
        font-size: 2rem;
        display: block;
        margin:2.5rem;
    }

}

@media (max-width:450px){

    html{
        font-size: 50%;
    }

}